@page
@using Microsoft.AspNetCore.Mvc.Localization
@using HRMapp2.Localization
@using Volo.Abp.Users
@model HRMapp2.Web.Pages.IndexModel
@inject IHtmlLocalizer<HRMapp2Resource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="p-5 text-center">
        <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4 " role="alert">
            <h5 class="m-1"> <i class="fas fa-rocket"></i> Congratulations, <strong>HRM Application</strong> is successfully running!</h5>
        </div>
        @*<h1>Welcome to the Application</h1>*@
        @*<p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>*@
        @if (!CurrentUser.IsAuthenticated)
        {
            <a abp-button="Primary" href="~/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
        }
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-auto text-center">
                    <img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/335011315_758622482490601_727193989960306520_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Ohg0IBbAQFcAX_fSen_&_nc_ht=scontent.fhan3-3.fna&oh=03_AdREY-vAkuxSBpoiCz0exLGjqHbdC3rPFIaMgXTIuNhGwQ&oe=64352BA9" style="max-width: 400px;" class="w-100 mb-5 my-md-3">
                </div>
                <div class="col-md d-flex align-items-center">
                    <div class="pe-0 pe-md-4">
                        <small class="text-uppercase text-muted">GỚI THIỆU</small>
                        <h2 class="mb-4">HRM Application</h2>
                        <p class="mb-4">Cung cấp cho doanh nghiệp các giải pháp quản lý tối ưu, áp dụng phần mềm vào quy trình hoạt động của doanh nghiệp, đồng thời giải quyết bài toán nhân sự, bắt kịp xu thế phát triển của thời đại. </p>
                        <div class="mb-4">
                            <a href="#" class="btn btn-success mb-1">
                                CHI TIẾT
                            </a>
                            <a href="#" class="btn btn-primary mb-1">
                                LIÊN HỆ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3 text-center">
        <h3>Đôi nét về <strong>HRM Application</strong></h3>
        
        <p>Dưới đây là một vài chức năng của <strong>HRM Application</strong> có thể bạn quan tâm:</p>
    </div>
    <div class="card mt-4 mb-5">
        <div class="card-body">
            <div class="row text-center justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-building text-secondary d-block my-3 fa-2x"></i> Phòng ban</h5>
                        <p>Quản lý các phòng ban của doanh nghiệp.</p>
                        <a href="#" target="_blank" class="btn btn-link px-1">Chi tiết <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-user-circle text-secondary d-block my-3 fa-2x"></i> Nhân viên</h5>
                        <p>Quản lý thông tin, hoạt động nhân sự.</p>
                        <a href="#" target="_blank" class="btn btn-link px-1">Chi tiết <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-bullhorn text-secondary d-block my-3 fa-2x"></i> Tuyển dụng</h5>
                        <p>Quản lý nhu cầu nhân sự, nhu cầu tuyển dụng, hoạt động tuyển dụng của doanh nghiệp.</p>
                        <a href="#" target="_blank" class="btn btn-link px-1">Chi tiết <i class="fas fa-chevron-right"></i></a>
                        </div>
                </div>
            </div>
            <div class="row text-center mt-lg-3 justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-business-time text-secondary d-block my-3 fa-2x"></i> Chấm công</h5>
                        <p>Quản lý chấm công.</p>
                        <a href="#" target="_blank" class="btn btn-link px-1">Chi tiết <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-table text-secondary d-block my-3 fa-2x"></i> Tính lương</h5>
                        <p>Quản lý lương/thưởng của nhân viên.</p>
                        <a href="#" target="_blank" class="btn btn-link px-1"> Chi tiết <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-file-alt text-secondary d-block my-3 fa-2x"></i> Xin nghỉ</h5>
                        <p>Quản lý ngày nghỉ của nhân sự/doanh nghiệp.</p>
                        <a href="#" target="_blank" class="btn btn-link px-1">Chi tiết <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-pen text-secondary d-block my-3 fa-2x"></i> Hợp đồng</h5>
                        <p>Tạo hợp đồng.</p>
                        <a href="#" target="_blank" class="btn btn-link px-1">Chi tiết <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-start">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-pen text-secondary d-block my-3 fa-2x"></i> Bảo hiểm</h5>
                        <p>Quản lý BHXH/BHYT của nhân viên.</p>
                        <a href="#" target="_blank" class="btn btn-link px-1">Chi tiết <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                
                 <div class="col-lg-4 border-start">
                     <div class="p-4">
                         <h5 class="mb-3"><i class="fas fa-ellipsis-h text-secondary d-block my-3 fa-2x"></i> .</h5>
                         <p>Và nhiều chức năng khác...</p>
                         <a href="#" target="_blank" class="btn btn-link px-1">Xem thêm <i class="fas fa-chevron-right"></i></a>
                     </div>
                     </div>
            </div>
        </div>
    </div>

    @*<div class="mt-5 my-3 text-center">
        <h3>Meet the ABP Commercial</h3>
        <p>A Complete Web Application Platform Built on the ABP Framework</p>
    </div>

    <div class="card mt-4 mb-5">
        <div class="card-body">
            <p class="px-lg-5 mx-lg-5 py-3 text-center">
                <a href="https://commercial.abp.io/" target="_blank">ABP Commercial</a> is a platform based on the open source ABP framework. It provides pre-built application modules,
                rapid application development tooling, professional UI themes, premium support and more.
            </p>

            <div class="row text-center justify-content-md-center">
                <div class="col-lg-2">
                    <div class="p-3">
                        <h6>
                            <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Startup Templates
                            <a href="https://commercial.abp.io/startup-templates?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
                        </h6>
                    </div>
                </div>
                <div class="col-lg-2 border-start">
                    <div class="p-3">
                        <h6>
                            <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Application Modules
                            <a href="https://commercial.abp.io/modules?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
                        </h6>
                    </div>
                </div>
                <div class="col-lg-2 border-start">
                    <div class="p-3">
                        <h6>
                            <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Developer<br />Tools
                            <a href="https://commercial.abp.io/tools?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
                        </h6>
                    </div>
                </div>
                <div class="col-lg-2 border-start">
                    <div class="p-3">
                        <h6>
                            <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> UI<br /> Themes
                            <a href="https://commercial.abp.io/themes?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
                        </h6>
                    </div>
                </div>
                <div class="col-lg-2 border-start">
                    <div class="p-3">
                        <h6>
                            <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Premium Support
                            <a href="https://support.abp.io/QA/Questions?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
                        </h6>
                    </div>
                </div>
                <div class="col-lg-2 border-start">
                    <div class="p-3">
                        <h6>
                            <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i> Additional Services
                            <a href="https://commercial.abp.io/additional-services?ref=tmpl" target="_blank" class="d-block mt-2 btn btn-sm btn-link">Details <i class="fas fa-chevron-right"></i></a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5 text-center">
        <p class="align-middle">
            <a href="https://twitter.com/abpframework" target="_blank" class="mx-2"><i class="fa fa-twitter"></i><span class="text-secondary"> Abp Framework</span></a>
            <a href="https://twitter.com/abpcommercial" target="_blank" class="mx-2"><i class="fa fa-twitter"></i><span class="text-secondary"> Abp Commercial</span></a>
            <a href="https://github.com/abpframework/abp" target="_blank" class="mx-2"><i class="fa fa-github"></i><span class="text-secondary"> abpframework</span></a>
        </p>
    </div>*@
</div>
