/* Your Global Styles */

:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonx/logo-dark.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-dark-thumbnail.png');
}

 /*doi mau icon*/
/*
:root {
    --lpx-brand: red !important;
}*/
